<div class="w-full flex flex-row items-center justify-between space-x-4">
    <h1 class="font-semibold text-xl text-cream">Social<span class="font-normal">Network</span></h1>
    <div class="flex flex-row space-x-2 items-center justify-center w-full">
        <div class="w-2/3 flex flex-row bg-cream items-center py-2 px-2 space-x-2">
            <input class="w-full bg-transparent outline-none text-xs" type="text" placeholder="Find..">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>  
        </div>
        <div class="w-auto flex items-center justify-center">
            <div class="flex flex-row bg-cream items-center py-2 px-2 space-x-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15m0 0l-6.75 6.75M12 4.5l6.75 6.75" />
                </svg>
                <p class="text-xs text-red-peach font-semibold">Upload</p>
            </div>
        </div>
    </div>
    <div class="flex flex-row space-x-2">
        <div class="bg-cream py-1 px-2 flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
        </div>
        <div class="flex flex-col text-cream">
            <p class="text-xs font-bold">Waseem</p>
            <p class="text-xs">Arshad</p>

        </div>

    </div>
</div>